{
  "name": "LHGHDateTimeZone",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "",
  "artifactName": "",
  "packageVersion": "1.1",
  "codeVersion": "1.1",
  "author": "Sumit Kumar",
  "commands": []
}